<h1>
    End Game:
</h1>

<div>
    Number of questions you got right:<span id="score"><%= score %></span>
</div>

<p>
    Sansacabó. Hasta luego MariCarmen.
</p>

<p>
    <a href="/quizzes"><button>Go Back</button></a>
</p>